body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('anniversaire.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-text {
    font-size: 72px; /* Taille de la police augmentée */
    color: white;
    text-align: center;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); /* Ombre plus prononcée */
}

input.centered-text {
    font-size: 60px;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: black;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.fade-in {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#redirect-button {
    font-size: 50px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #8A2BE2;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#redirect-button:hover {
    background-color: #8A2BE2;
}


#redirect-button.wrong {
    background-color: red;
    animation: shake 0.5s;
}

#redirect-button.correct {
    background-color: green;
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
